.swiper {
  height: 42rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

.swiper-slide img {
 width: 37rem;
 height: 42rem;
 border-radius: 1rem;
}
